@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
.about-contener {
    background-position: left -18px;
}
.about-contener:before {
    content: '';
    display: inline-block;
    width: 500px;
    height: 500px;
    background: var(--svg-bg-yellow);
    position: absolute;
    bottom: -153px;
    right: -79px;
}
.about-image {
    position: relative;
    z-index: 1;
}
.about-image:before {
    content: '';
    display: inline-block;
    background: url(../../../public/img/doodle2.svg) no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    right: -50px;
    top: 0;
    background-size: 75px;
}
.about-text-blog .about-text-me {
    font-family: 'Satisfy';
}
.about-text-blog .about-text-me .creative-designer {
    color: #21bc61;
    font-family: 'Satisfy';
}

.about-text-blog .about-text-me .country {
    color: #826ce7;
    font-family: 'Satisfy';
}

.about-text-blog .about-txet-work {
    font-family: "Noto Sans", sans-serif;
}
#ball {
    width: 6vw;
    top: 85%;
    left: -18%;
}
.about-text-blog h1:before {
    content: "";
    display: inline-block;
    background: url("/img/doodle1.svg") no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: -50px;
    top: -68px;
    background-size: 67px;
}
@media (max-width:767px) {
    .aboutwrap {
        height: 170vh;
    }
    .about-image:before {
        right: 0;
    } 
    #ball {
        width: 10vw;
        left: 0;
    }
    .about-contener:before, .about-text-blog h1:before {
        display: none;
    }
}
@media (max-width:480px) {
    #ball {
        width: 15vw;
    }
    .aboutwrap {
        height: 140vh;
    }
}
@media (max-width:367px) {
    #ball {
        width: 20vw;
    }
}
