@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.overlay {
  height: 120vh;
}

.overlaybbg {
  background: radial-gradient(at bottom right, #267bdd7a 20%, transparent 35%);
}
.dark .overlaybbg {
  background: radial-gradient(at bottom right, #10417a7a 20%, transparent 35%);
}

.bgtrack {
  height: 300vh;
}

.roundshape .img {
  width: 5rem;
  height: 5rem;
  position: relative;
}

.roundshape .img svg .circle-path {
  fill: #b5b6ff;
  stroke: #b5b6ff;
  stroke-width: 5;
}

.dark .roundshape .img svg .circle-path {
  fill: #020617;
  stroke: #020617;
}



.no-matter {
  height: 65px;
}

.scro-matter {
  opacity: 0.2;
}

.scro-matter h1 {
  font-size: 5vw;
}

.coloreffect {
  opacity: 1;
}

.coloreffect h1 {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
}

.peace .peace-text {
  display: block;
  color: #9294ed;
}

.socialround {
  width: 200px;
  height: 200px;
}

.socialmedia-icon {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  animation-name: r;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  list-style: none;
}

.socialmedia-icon li {
  position: absolute;
  animation-name: r1;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.socialmedia-icon li:nth-child(1) {
  left: 30px;
  top: 20px;
}

.socialmedia-icon li:nth-child(2) {
  right: 112px;
  top: -15px;
}

.socialmedia-icon li:nth-child(3) {
  right: 14px;
  top: 28px;
}

.socialmedia-icon li:nth-child(4) {
  left: -10px;
  top: 115px;
}

.socialmedia-icon li:nth-child(5) {
  right: -13px;
  top: 115px;
}

.socialmedia-icon li:nth-child(6) {
  right: 29px;
  top: 213px;
}

.socialmedia-icon li:nth-child(7) {
  left: 20px;
  top: 206px;
}

.socialmedia-icon li:nth-child(8) {
  right: 118px;
  top: 249px;
}


@keyframes r {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes r1 {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@media (max-width:480px) {
  .scro-matter h1 {
    font-size: 8vw;
  }
}