
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
  margin: 0;
}
/*contact ani socialmedia*/

.overlay {
  position: sticky;
  height: 100vh;
  top: 0;
  overflow: hidden;
}

.contactform {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.text-inner {
  font-size: 2.5rem;
  opacity: 0;
}

.bgtrack {
  height: 300vh;
}

.roundshape {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.roundshape .img {
  width: 14rem;
  height: 14rem;
  position: relative;
}

.roundshape .img svg {
  width: 100%;
  height: 100%;
}

.roundshape .img .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.roundshape .img svg .circle-path {
  fill: #b5b6ff;
  stroke: #b5b6ff;
  stroke-width: 5;
}
/*----------text------------*/
.text-group {
  position: absolute;
display: flex;
align-items: center;
width: 100%;
flex-direction: column;
}
.peace, .no-matter {
font-size: 5vw;
color: #202020;
text-align: center;
font-weight: 800;
text-transform: capitalize;
transition: all .6s ease;
}

.no-matter {
position: relative;
width: 50%;
height: 90px;
margin: 0 auto;
}

.scro-matter {
position: absolute;
color: #202020;
opacity: 0.2;
}

.scro-matter h1 {
font-size: 5vw;
}

.coloreffect {
opacity: 1;
}

.coloreffect h1 {
width: 0;
white-space: nowrap;
overflow: hidden;
}

.peace .peace-text {
display: block;
color: #9294ed;
}

/*--------Social---------*/

.social-ation {
display: flex;
height: 100%;
width: 100%;
justify-content: center;
align-items: center;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 1;
}

.socialmedia {
position: relative;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.socialround {
width: 200px;
height: 200px;
margin: 0 auto;
background: #fff;
border-radius: 50%;
overflow: hidden;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.socialmedia-icon {
position: absolute;
width: 250px;
height: 250px;
border-radius: 50%;
  animation-name: r;
animation-duration: 10000ms;
animation-iteration-count: infinite;
animation-timing-function: linear;
list-style: none;
}

.socialmedia-icon li {
position: absolute;
animation-name: r1;
animation-duration: 10000ms;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.socialmedia-icon li:nth-child(1) {
left: 30px;
top: 20px;
}

.socialmedia-icon li:nth-child(2) {
right: 112px;
top: -15px;
}

.socialmedia-icon li:nth-child(3) {
right: 14px;
top: 28px;
}

.socialmedia-icon li:nth-child(4) {
left: -10px;
top: 115px;
}

.socialmedia-icon li:nth-child(5) {
right: -13px;
top: 115px;
}

.socialmedia-icon li:nth-child(6) {
right: 29px;
top: 213px;
}

.socialmedia-icon li:nth-child(7) {
left: 20px;
top: 206px;
}

.socialmedia-icon li:nth-child(8) {
right: 118px;
top: 249px;
}


@keyframes r {
from {
transform: rotate(0deg);
}

to {
transform: rotate(360deg);
}
}

@keyframes r1 {
from {
transform: rotate(360deg);
}

to {
transform: rotate(0deg);
}
}

.container {
  width: 100%;
  box-sizing: border-box;
  height: 100vh;
  text-align: center;
  position: relative;
}

.contactwrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
}

.contactwrapper h1 {
  color: var(--text-color);
  padding: 80px 0;
}

.contactform .input {
  width: 100%;
  padding: 10px;
  font-size: 13px;
  border: 1px solid var(--light-bg);
  color: var(--text-color);
  border-radius: 5px;
}

.contactform .input:focus-visible,
.contactform .input:focus,
.contactform .textarea:focus,
.contactform .textarea:focus-visible {
  outline: 1px solid var(--text-hover-color);
  border: none;
  transition: 0.5s cubic-bezier(0.99, 1.56, 0.64, 1);
}

.contactform .input::placeholder,
.contactform .textarea::placeholder {
  color: var(--text-secondary-color);
}

.textarea {
  width: 100%;
  padding: 10px;
  font-size: 13px;
  height: 180px;
  border: 1px solid var(--light-bg);
  color: var(--text-color);
  border-radius: 5px;
}

.submit {
  border: none;
  color: var(--white-color);
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 15px;
  font-family: inherit;
  letter-spacing: 2.5px;
  background-color: var(--pupil-bg);
}

.formblog {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  gap: 20px;
}

.formleft {
  display: flex;
  align-items: self-start;
  flex-wrap: wrap;
  text-align: left;
  width: 50%;
}

.formbox {
  width: 100%;
  padding-bottom: 15px;
}

.formleft .no-wrap {
  flex-wrap: nowrap;
  width: 48%;
  margin-right: 13px;
}

.formleft .removemargin {
  margin-right: 0;
}

.formmessage {
  text-align: right;
  width: 50%;
  ;
}

.textlabel {
  display: block;
  font-family: 'Noto Sans Gurmukhi';
  font-size: 14px;
  color: var(--text-color);
  padding-bottom: 5px;
  text-align: left;
  letter-spacing: 1px;
}

.copyright-warpper {
  width: 100%;
  padding: 8px 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--pupil-bg);
}

.copyright {
  color: var(--white-color);
  font-size: 12px;
  font-family: 'Noto Sans Gurmukhi';
}

.copyright-warpper .formblog {
  align-items: center;
}

.socialmidea a {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  line-height: 34px;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  display: inline-block;
  margin: 0 5px;
}

.socialmidea a:hover {
  border: 1px solid var(--text-hover-color);
  color: var(--text-hover-color);
}

.privacy-terms a {
  color: var(--white-color);
  font-family: 'Noto Sans Gurmukhi';
  text-decoration: none;
  font-size: 12px;
}

.privacy-terms .privacy-policy {
  margin-right: 10px;
}

.alert-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.alert-content {
  background: var(--white-color);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
  width: 80%;
  box-shadow: var(--box-shadow-1);
}

.alert-content p {
  margin-bottom: 20px;
  font-size: 16px;
}

.close-alert {
  padding: 10px 20px;
  background-color: var(--pupil-bg);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-alert:hover {
  background: var(--text-hover-color);
}

.successfully {
  position: absolute;
  top: 35%;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
}


.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00000047;
  z-index: 9;
}

.loader-ani {
  height: 15px;
  aspect-ratio: 6;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%; );
}

.loader-ani:before,
.loader-ani:after {
  content: "";
  flex: 1;
  padding-left: calc(100%/6);
  background: radial-gradient(closest-side at calc(100%/3) 50%, #000 90%, #0000) 0/75% 100% content-box;
  animation: aniy 2s infinite;
}

.loader-ani:after {
  --_s: -1;
}

@keyframes aniy {
  0% {
    transform: scale(var(--_s, 1)) translate(0) rotate(0)
  }

  25% {
    transform: scale(var(--_s, 1)) translate(-25%) rotate(0)
  }

  50% {
    transform: scale(var(--_s, 1)) translate(-25%) rotate(1turn)
  }

  75%,
  100% {
    transform: scale(var(--_s, 1)) translate(0) rotate(1turn)
  }
}