@font-face {
  font-family: 'FontAwesome';
  src: url('../src/assets/font/fontawesome.eot?v=4.7.0');
  src: url('../src/assets/font/fontawesome.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../src/assets/font/fontawesome.woff2?v=4.7.0') format('woff2'), url('../src/assets/font/fontawesome.woff?v=4.7.0') format('woff'), url('../src/assets/font/fontawesome.ttf?v=4.7.0') format('truetype'), url('../src/assets/font/fontawesome.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../src/assets/font/fa-light-300.woff2?v=6.0.0') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../src/assets/font/fa-brands-400.woff2?v=6.0.0') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../src/assets/font/fa-regular-400.woff2?v=6.0.0') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../src/assets/font/fa-solid-900.woff2?v=6.0.0') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MaterialSymbols';
  font-style: normal;
  font-weight: 100 700;
  src: url('../src/assets/font/MaterialIconFont.woff2?v=1.0.0') format('woff2');
}



:root {
  --background-color: white;
  --text-color: black;
  --text-hover-color: #03A9F4;
  --dark-toggle-bg-color: #5b6274;
  --light-toggle-color: #fca51c;
  --dark-toggle-color: #263053;

  --box-shadow-1: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --box-shadow-2: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --box-shadow-3: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --box-shadow-4: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --white-color: #fff;
}

[data-theme='dark'] {
  --background-color: #151b2d;
  --background-primary-color: #0d1222;
  --secondary-color: #5c6274;
  --text-color: #e0e0e0;
  --text-secondary-color: #566695;
  --dark-bg: #202940;
  --dark-light-bg: #00000021;
  --Navtext-color: #e0e0e0;
  --pupil-bg: #fff;
  --video-before-bg: #161b2de6;
  --menu-bg-color: #0014249c;
  --svg-bg-green: url(../public/img/dark-green.svg) no-repeat;
  --svg-bg-red: url(../public/img/dark-red.svg) no-repeat;
  --svg-bg-yellow: url(../public/img/dark-yellow.svg) no-repeat;
  --logo-j: #007CDF;
  --logo-sc: #645cb8;
}

[data-theme='light'] {
  --background-color: white;
  --background-primary-color: #fff;
  --primary-color: #f5f5f5;
  --secondary-color: #e3e3e3;
  --text-color: #333;
  --text-secondary-color: #6a6a6a;
  --light-bg: #cdcdcd;
  --menu-bg-color: #ffffffa3;
  --Navtext-color: #e0e0e0;
  --skils-box-color: #2196F3;
  --pupil-bg: #161d32;
  --video-before-bg: #ffffffe0;
  --svg-bg-green: url(../public/img/green.svg) no-repeat;
  --svg-bg-red: url(../public/img/red.svg) no-repeat;
  --svg-bg-yellow: url(../public/img/yellow.svg) no-repeat;
  --logo-j: #111111;
  --logo-sc: #007CDF;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: none;
}

.mix-bg-color {
  background: var(--svg-bg-yellow), var(--svg-bg-red), var(--svg-bg-green);
  background-repeat: no-repeat;
  background-position: calc(50% - 953px) -30px, calc(50% + 533px) -70px, calc(50% + 180px) -280px;
  background-size: 511.1px 513.2px, 735.8px 738.8px, 703.2px 706.1px;
  background-origin: padding-box, padding-box;
}

.bg-green {
  background: var(--svg-bg-green);
  background-position: center -200px;
}

.bg-red {
  background: var(--svg-bg-red);
  background-position: center -200px;
}

.bg-yellow {
  background: var(--svg-bg-yellow);
  background-position: center -200px;
}

.App:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: url(../public/img/noise.jpg);
  background-size: cover;
  opacity: .05;
}


.github:before {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
}

.github:before {
  content: \f09b;
}